body {
    background-color: lavender;
    }

#update {
    background-color: peachpuff;
    }

.list-item {
    background-color: darkseagreen;
    }

.main-heading {
    background-color: lightskyblue;
    }
        
#first-paragraph {
    background-color: lightcoral;
    }

.purple {
    background-color: mediumpurple;
}

#gold {
    background-color: gold;
}